name: pr

permissions:
  pull-requests: write

on:
  pull_request:
    paths:
      - "**"

jobs:
  cli:
    name: cli
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: "^1.13.1"
      - run: go test ./...

  docker:
    needs: [terraform, cli]
    name: docker
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          file: Dockerfile
          push: true
          tags: paperspace/cluster-installer:0.0.0-${{ github.event.pull_request.head.sha }}

  terraform:
    name: terraform
    strategy:
      matrix:
        directory:
          [gradient-aws, gradient-metal, gradient-metal-gc, gradient-ps-cloud]
        workspace: [default]
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ matrix.directory }}/tests
    steps:
      - uses: actions/checkout@v3
      - uses: hashicorp/setup-terraform@v2

      - name: Terraform fmt
        id: fmt
        run: terraform fmt -check
        continue-on-error: true

      - name: Terraform Init
        id: init
        run: terraform init

      - name: Terraform Workspace
        id: workspace
        run: terraform workspace select ${{ matrix.workspace }}

      - name: Terraform Validate
        id: validate
        run: terraform validate -no-color
